.mainrow, .mainrowtargetitem {
	display: flex;
	height: 100%;
}

/* Defines the two main container panes properties*/
.maincolumnnav, .maincolumntarget, .maincolumntargetitem {	
  	border-style: solid;
  	border-width: 1px;
  	border-color: rgb(211, 215, 207);  				
  	overflow: auto;
  	resize: horizontal;
  	min-width: 0px;
  	width: 40%;
}

.maincolumnnav {
	padding-right: 30px;
	height: 100%;
}	

.maincolumntarget {
	resize: none;
	width: 100%;
	height: 100%;
}

.mainrowtargetitem {
	height: unset;
}

.maincolumntargetitem {
	resize: none;
	width: 100%;	
	resize: horizontal;
	height: unset;
}

textarea {
	width:100%;
	height:100%;
}