#define STR(x) #x
#define XSTR(x) STR(x)

+MassSpringTypes = {
    Class = ReferenceContainer
    +ControlParameters = {
        Class = IntrospectionStructure
        ReferencePosition = {
            Type = float64
        }
        Position = {
            Type = float64
        }
        PositionDisturbed = {
            Type = float64
        }
        PositionFiltered = {
            Type = float64
        }
        PositionM = {
            Type = float64
        }
        Velocity = {
            Type = float64
        }
        VelocityM = {
            Type = float64
        }
        PositionErr = {
            Type = float64
        }
        Force = {
            Type = float64
        }
        ForceAverage = {
            Type = float64
        }
        ForceStdDev = {
            Type = float64
        }
        ForceMax = {
            Type = float64
        }
        ForceMin = {
            Type = float64
        }
    }
    +GAMPerformance = {
        Class = IntrospectionStructure
        ReadTime = {
            Type = uint32
        }
        ExecTime = {
            Type = uint32
        }
        WriteTime = {
            Type = uint32
        }
    }
    +ThreadPerformance = {
        Class = IntrospectionStructure
        CycleTime = {
            Type = uint32
        }
        CycleTimeAverage = {
            Type = uint32
        }
        CycleTimeMovingAverage = {
            Type = float32
        }
        CycleTimeStdDev = {
            Type = uint32
        }
        CycleTimeMax = {
            Type = uint32
        }
        CycleTimeMin = {
            Type = uint32
        }
        CycleTimeHistogram = {
            Type = uint32
            NumberOfElements = 11
        }
        FreeTimeHistogram = {
            Type = uint32
            NumberOfElements = 11
        }
        GAMsExecutionTime = {
            Type = int32
        }
    }
    +AppPerformance = {
        Class = IntrospectionStructure
        GAMPerfMonitor = {
            Type = GAMPerformance
        }
        GAMTimer = {
            Type = GAMPerformance
        }
        GAMReference = {
            Type = GAMPerformance
        }
        GAMDisturbanceWaveform = {
            Type = GAMPerformance
        }
        GAMMathDisturbance = {
            Type = GAMPerformance
        }
        GAMFilterDisturbance = {
            Type = GAMPerformance
        }
        GAMController = {
            Type = GAMPerformance
        }
        GAMSpringMass = {
            Type = GAMPerformance
        }
        GAMMathModel = {
            Type = GAMPerformance
        }
        GAMMathPositionErr = {
            Type = GAMPerformance
        }
        GAMStats = {
            Type = GAMPerformance
        }
        GAMPatchForceDims = {
            Type = GAMPerformance
        }
        GAMForceStats = {
            Type = GAMPerformance
        }
        GAMHist = {
            Type = GAMPerformance
        }
        GAMMathExpr = {
            Type = GAMPerformance
        }
        GAMConversion = {
            Type = GAMPerformance
        }
        GAMFilterMovingAvg = {
            Type = GAMPerformance
        }
        GAMMathTrigger = {
            Type = GAMPerformance
        }
        GAMMathTriggerSecond = {
            Type = GAMPerformance
        }
        GAMDisplay = {
            Type = GAMPerformance
        }
        GAMWriter = {
            Type = GAMPerformance
        }
        Thread1 = {
            Type = ThreadPerformance
        } 
    }
    +MonitorControl = {
        Class = IntrospectionStructure
        Time = {
            Type = uint32
        }
        Control = {
            Type = ControlParameters
        }
    }
    +MonitorPerformance = {
        Class = IntrospectionStructure
        Time = {
            Type = uint32
        }
        Perf = {
            Type = AppPerformance 
        }
    }
    +ControlInput = {
        Class = IntrospectionStructure
        ReferencePosition = {
            Type = float64
        }
        SwitchOn = {
            Type = uint32
        }
    }
}
$MassSpringApp = {
    Class = RealTimeApplication
    +Functions = {
        Class = ReferenceContainer
        +GAMTimer = {
            Class = IOGAM
            InputSignals = {
                Counter = {
                    DataSource = Timer
                    Type = uint32
                }
                Time = {
                    Frequency = 100
                    DataSource = Timer
                    Type = uint32
                }
            }
            OutputSignals = {
                Counter = {
                    DataSource = DDB1
                    Type = uint32
                }                
                Time = {
                    DataSource = DDB1
                    Type = uint32
                }            
            }
        }
        +GAMReference = {
            Class = ConstantGAM
            OutputSignals = {
                ReferencePosition = {
                    DataSource = DDB1
                    Type = float64
                    Default = 2.0
                }
                SwitchOn = {
                    DataSource = DDB1
                    Type = uint32
                    Default = 0
                }
            }
        }
        +GAMWriter = {
            Class = IOGAM
            InputSignals = {
                ReferencePosition = {
                    DataSource = DDB1
                    Type = float64
                }
                SwitchOn = {
                    DataSource = DDB1
                    Type = uint32
                }
            } 
            OutputSignals = {
                ControlIn = {
                    DataSource = OPCUAWriter
                    Type = ControlInput
                    Trigger = 1
                    TriggerSignal = "ControlIn.ReferencePosition"
                }
            }
        }
    }
    +Data = {
        Class = ReferenceContainer
        DefaultDataSource = DDB1
        +DDB1 = {
            Class = GAMDataSource
       	}        
        +Display = {
            Class = LoggerDataSource
        }
        +Timings = {
            Class = TimingDataSource
        }
        +OPCUAWriter = {
            Class = OPCUADataSource::OPCUADSOutput
            Address = OPCUA_FULL_URL
            Authentication = None
            Signals = {
                ControlIn = {
                    NamespaceIndex = 1
                    Type = ControlInput
                    Path = "MassSpringDemoControlInput"
                }
            }
        }
        +Timer = {
            Class = LinuxTimer
            SleepNature = "Default"
            Signals = {
                Counter = {
                    Type = uint32
                }
                Time = {
                    Type = uint32
                }
            }
        }        
    }
    +States = {
        Class = ReferenceContainer
        +State1 = {
            Class = RealTimeState
            +Threads = {
                Class = ReferenceContainer
                +Thread1 = {
                    Class = RealTimeThread
                    CPUs = 0x1
                    Functions = {GAMTimer GAMReference GAMWriter}
                }
            }
        }        
    }
    +Scheduler = {
        Class = GAMScheduler
        TimingDataSource = Timings
    }
}

